@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #030412;
}

body {
  font-family: "Funnel Display", sans-serif;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

